@model Product

@{
    ViewData["Title"] = "AddCart";
    Layout = "~/Views/Shared/_DarkLayout.cshtml";
}

<form asp-controller="UserProduct" asp-action="AddCart" method="post">
    <section id="details">
        <div id="details-popup">
            <div id="popup-container">
                <i class="fa-solid fa-xmark"></i>
                <img src="#">
            </div>
        </div>
        <div id="main-breadcrumb">
            <div class="container">
                <ul>
                    <li><a asp-controller="UserProduct" asp-action="Main">Ürünler</a></li>
                    <span>/</span>
                    <li>@Model.Name</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="details-image">
                <div id="details-main-image">
                    <img src="@Model.ImageUrl" alt="Bluetooth Kulaklık Üçüncü Seri">
                </div>
                <div id="details-sub-images">
                    <img src="@Model.ImageUrl2" alt="Bluetooth Kulaklık Üçüncü Seri Detay">
                    <img src="@Model.ImageUrl3" alt="Bluetooth Kulaklık Üçüncü Seri Detay">
                    <img src="@Model.ImageUrl4" alt="Bluetooth Kulaklık Üçüncü Seri Detay">
                </div>
            </div>
            <div id="details-content">
                <h1>@Model.Name</h1>
                <div id="details-text">
                    <p>@Model.Description</p>
                </div>
                <div id="details-price">
                    <h2>@Model.Price</h2>
                </div>
                <button id="details-basket">Sepete Ekle</button>
            </div>
            <div id="details-collapse">
                <div id="collapse-title">
                    <ul>
                        <li name="description" class="active">@Model.Description</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</form>
